@import "tailwindcss";

@theme {
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
}

:root {
  --background: #F9F9F7;
  --foreground: #1A1A1A;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide Scrollbar Helper */
@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}